<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="/images/utility/icon-feather.svg" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/dissertation.css"/>


    <script src="/three/build/three.js"></script>
    <script src="/three/examples/js/controls/OrbitControls.js"></script>
    <script src="/three/examples/js/loaders/GLTFLoader.js"></script>
    <script src="/javascripts/dissertation/libs/kriging.js"></script>
    <script src="/javascripts/dissertation/libs/noise.js"></script>
    <script src="/rainbowvis/rainbowvis.js"></script>

    <script src="/javascripts/dissertation/bundle-main.js" defer></script>

</head>
<body>

<div id="container">


    <div class="item" id="scene-container">
        <canvas id="scene-canvas" width="256" height="256"></canvas>
    </div>


    <div class="item" id="params-container">
            <h5> Params container header </h5>
        <div class="param" id="texture-overlay">
            <h6>Texture Layer</h6>
        </div>

        <div class="param" id="noise-overlay">
            <h6>Noise Layer</h6>
        </div>
        <div class="param" id="main-pattern-overlay">
            <h6>Main Pattern Layer</h6>
        </div>
    </div>


        <div class="item" id="texture-container">
                    <canvas id="layer1"></canvas>
                    <canvas id="layer2"></canvas>
                    <canvas id="layer3"></canvas>
                    <canvas id="layer4"></canvas>
        </div>

</div>



</body>
</html>
