<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="/images/utility/icon-feather.svg" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/dissertation.css"/>

    <script src="/three/build/three.js"></script>
    <script src="/three/examples/js/controls/OrbitControls.js"></script>
    <script src="/three/examples/js/loaders/GLTFLoader.js"></script>
    <script src="/javascripts/dissertation/libs/kriging.js"></script>
    <script src="/rainbowvis/rainbowvis.js"></script>

    <script src="/javascripts/dissertation/Stats.js" defer></script>
    <script src="/javascripts/dissertation/EggUI.js" defer></script>
    <script src="/javascripts/dissertation/Egg.js" defer></script>
    <script src="/javascripts/dissertation/Main.js" defer></script>


</head>
<body>

<div class="grid-container">

    <div class="grid-item-nav" id="nav">
        <h1><%= title %></h1>
        <h3>Nav bar</h3>
    </div>

    <div class="grid-item-panel" id="right-panel">
        <h4>Options panel</h4>
        <div>
            <h4>Stats</h4>
            <div>
                <h5>Stats points</h5>

                <label for="points-slider" id="points-label">Points: </label> <br>
                <input type="range" id="points-slider" name="points">

                <input type="button" value="generate points" id="points-button">
                <canvas width="256" height="256" id="stats-points"></canvas>

                <h5>Spatially correlated field</h5>
                <label for="sigma2-slider" id="sigma2-label">Sigma^2: </label> <br>
                <input type="range" id="sigma2-slider" name="sigma^2"> <br>

                <label for="alpha-slider" id="alpha-label">Alpha: </label> <br>
                <input type="range" id="alpha-slider" name="alpha"> <br>



                <label for="range-slider" id="range-label">Range: </label> <br>
                <input type="range" id="range-slider" name="range"> <br>

                <select id="variogramModel-select">
                    <option value="gaussian">gaussian</option>
                    <option value="exponential">exponential</option>
                    <option value="spherical">spherical</option>
                </select> <br>

                <input type="button" value="set model" id="correlate-button" min="0" max="100"> <br>

                <label for="interactive-checkbox">Interactive adjustment</label>
                <input type="checkbox" id="interactive-checkbox" checked="true">

                <canvas width="256" height="256" id="spatial-random-field"></canvas>
            </div>

        </div>
    </div>

    <div class="grid-item-scene" id="scene-container">
        <canvas id="scene-canvas"></canvas>
        <!-- This div will hold our scene-->
    </div>


</div>


</body>
</html>
