*{
    box-sizing: border-box;
    border: 1px solid black;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

#container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns:  50% 50%;
    height: 100%;
    /*position: relative;*/
}


#params-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}

h5, h6{
    padding: 0;
    margin: 0;
}

#texture-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;
    width: 100%;
    height: 100%;
}



#scene-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

#texture-container canvas {
    /*position: absolute;*/
    /*width: 256px;*/
    /*height: 256px;*/
    background-color: transparent;
}

#layer1, #layer2{
    border: 1px solid crimson;
}

#layer3, #layer4 {
    border: 1px solid magenta;
}











